{{#each teams as |team|}}

 <div id={{team.id}} class="card column flip-card">
          <div class="card-content">
            <p class="title">
                <p>Name: {{team.name}}</p> 
                <button class="favoriteButton" id={{team.id}}>Favorite team?</button>
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <p>Wins: {{team.wins}}</p> 
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <p>Loses: {{team.losses}}</p>
                </a>
            </a>
              </span>
            </p>
          </footer>
        </div>
{{/each}}
{{!-- create button on div with data attribute"data-name" that stores the team's name
use javascript to make call to API that updates the users favorite team name--}}
